ion-img {
  margin-top: -20px;
}
ion-card-title {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #414141;
  font-family: 'Montserrat', sans-serif;

}

ion-button {
  color: #414141;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;

}

ion-card {
  margin-top: -20px;
  margin-bottom: 10px;
}

ion-icon {
  color: #414141;
}


ion-card-subtitle {
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
}

ion-button:hover {
  color: white;
  background-color: #D32F2F;
}
