@import url('https://fonts.googleapis.com/css?family=Montserrat');



ion-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;

}


ion-card-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #4caf50;
}
ion-header{
  --ion-background-color: #D32F2F !important;

}
#title2 {
  color: #D32F2F!important;
}

ion-button {
  color: #4caf50;
  font-family: 'Montserrat', sans-serif;
}


