<ion-header>
  <ion-toolbar>
    <ion-title>Entrainement <ion-icon name="body" style="text-align: center"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/icon/crunches.jpg"></ion-img>

            <ion-card-title><ion-button fill="clear">Abdos</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/icon/entrainement-BRAS-BICEPS-TRICEPS-musculation-620x330.jpg"></ion-img>
            <ion-card-title><ion-button fill="clear">Bras</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>




  <ion-toolbar>
    <ion-title id="title2">Exercez pour débloquer <ion-icon name="body" style="text-align: center"></ion-icon></ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row>


      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/icon/61457.png"></ion-img>

            <ion-card-title><ion-button fill="clear">Squat</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/61457.png"></ion-img>

            <ion-card-title><ion-button fill="clear">Dos</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>




  <ion-grid>
    <ion-row>


      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/icon/61457.png"></ion-img>

            <ion-card-title><ion-button fill="clear">Squat</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/icon/61457.png"></ion-img>

            <ion-card-title><ion-button fill="clear">Dos</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>


      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/icon/61457.png"></ion-img>

            <ion-card-title><ion-button fill="clear">Squat</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/61457.png"></ion-img>

            <ion-card-title><ion-button fill="clear">Dos</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
