<ion-header>

  <ion-toolbar>
    <ion-title>Social <ion-icon name="person-add"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



  <ion-item>
    <ion-avatar slot="start">
      <img [src]="user.img">
    </ion-avatar>
    <ion-label> Lou Coach</ion-label>
    <ion-button>Voir</ion-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="user.img">
    </ion-avatar>
    <ion-label>David Coach</ion-label>
    <ion-button>Voir</ion-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="user.img">
    </ion-avatar>
    <ion-label>Jérôme Coach</ion-label>
    <ion-button>Voir</ion-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="user.img">
    </ion-avatar>
    <ion-label>Terry Coach</ion-label>
    <ion-button>Voir</ion-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="user.img">
    </ion-avatar>
    <ion-label>Emilie Coach</ion-label>
    <ion-button>Voir</ion-button>
  </ion-item>



</ion-content>
