@import url('https://fonts.googleapis.com/css?family=Montserrat');

ion-img {
  margin-top: -10%;
}


ion-card-title {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10%;
}
ion-card {
  margin-top: -10%;
}

ion-button {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #D32F2F;

}
