<ion-header>

</ion-header>

<ion-content class="myview"   padding class="letsstart">

  <ion-img src="assets/icon/Vraibnologo.png"></ion-img>
  <ion-card>
    <ion-card-title style="text-align: center">Vous êtes ?</ion-card-title>
    <ion-button expand="block" href="/tabs/tab2" fill="clear">Femme<ion-icon name="woman"></ion-icon></ion-button>
    <ion-button expand="block" href="/tabs/tab2" fill="clear" >Homme<ion-icon name="man"></ion-icon></ion-button>

    <ion-card-subtitle><a href="connexion">Déjà inscrit ?</a></ion-card-subtitle>
  </ion-card>



</ion-content>
