<ion-header>
  <ion-toolbar>
    <ion-title>Menus    <ion-icon name="restaurant"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>


      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/icon/recette-du-quinoa-bol-1024x683.jpg"></ion-img>

            <ion-card-title><ion-button fill="clear">Légumes</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/icon/Camoune-Boeuf-au-cumin.jpg"></ion-img>

            <ion-card-title><ion-button fill="clear">Boeuf</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>


      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/icon/téléchargement.jpg"></ion-img>

            <ion-card-title><ion-button fill="clear">Plat de poulet</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/icon/téléchargement(1).jpg"></ion-img>

            <ion-card-title><ion-button fill="clear">Végétarien</ion-button></ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
