<ion-header>


  <ion-toolbar>
    <ion-title>Accueil  <ion-icon name="stopwatch"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card-title style="text-align: center">Entrainement <ion-icon name="checkmark"></ion-icon></ion-card-title>

  <ion-card>
    <ion-img src="/assets/icon/5b43ccf31335b831008b4c1c-750-563.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Evaluation</ion-card-title>
      <ion-card-content>
        Ici, commencez dès maintenant pour une évaluation afin de mieux vous connaitre.
      </ion-card-content>
    </ion-card-header>

    <ion-button expand="block"  href="entrainement" fill="clear">Commencer ! <ion-icon name="happy"></ion-icon></ion-button>
  </ion-card>

  <ion-toolbar>
    <ion-title id="title3">Le coach vous recommande !  <ion-icon name="body" style="text-align: center"></ion-icon></ion-title>
  </ion-toolbar>


  <ion-card>
    <ion-img src="/assets/icon/plat-a-base-de-poulet.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Un plat a base poulet pour faire le plein de proteine !</ion-card-title>
      <ion-card-content>
        Un plat rapide et facile à faire !
      </ion-card-content>
    </ion-card-header>

    <ion-button expand="block"  href="menus" fill="clear">Je vais voir !<ion-icon name="happy"></ion-icon></ion-button>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/icon/tagliatelles-saumon.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Un plat a base de pour faire le plein de sucrelent !</ion-card-title>
      <ion-card-content>
        Un plat rapide et facile à faire !
      </ion-card-content>
    </ion-card-header>

    <ion-button expand="block"  href="menus" fill="clear">Je vais voir !<ion-icon name="happy"></ion-icon></ion-button>
  </ion-card>


</ion-content>
