@import url('https://fonts.googleapis.com/css?family=Montserrat');

ion-card-title {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}
ion-card {
  margin-top: -30px;
}

ion-button {
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #D32F2F;
}
