
@import url('https://fonts.googleapis.com/css?family=Montserrat');


ion-toolbar {
  --ion-background-color: #D32F2F !important;
}
.boutonRetour {
  font-size:30px;
  margin-top: -10%;
  color: white!important;
}
ion-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  margin-top: -20px;


}
