<ion-content>

  <ion-img src="assets/icon/Vraibnologo.png"></ion-img>
  <ion-card>
    <ion-card-title style="text-align: center">Combien faites-vous de sport par semaine ?</ion-card-title>
    <ion-button expand="block" href="tab4" fill="clear">0 fois</ion-button>
    <ion-button expand="block" href="tab4" fill="clear" >1 fois</ion-button>
    <ion-button expand="block" href="tab4" fill="clear" >2 fois</ion-button>
    <ion-button expand="block" href="tab4" fill="clear" >3 fois</ion-button>
  </ion-card>

</ion-content>
